<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start - Point A to B</title>
    <link href="../CSS/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://icaldgroup.com/images/flowers.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
          <p>Your friend Maria invites you to
her birthday party in SF. You live in
Modesto and it takes 2 hours in
car to get there. You don’t drive
and nobody invited can take you.
              <br><b>Are you going to go?</b></p>
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">YES</a>
          <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">NO</a>
      </div>
    </div>
  </div>
</header>
</html>